html,
body,
.back {
  margin: 0;
  padding: 0;
  border: 0;
}

body::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: HSL(0, 0%, 3.9%);
  color: white;
  overflow-x: hidden;
}

#back {
  background-image: url("../src/assets/back.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.modo {
  display: flex;
  transition: margin-left 0.5s;
  margin-left: auto;
}

#mySection2 {
  width: 100%;
  background-color: rgb(21, 21, 21);
  z-index: 10;
  position: fixed;
}

#mySection {
  width: 100%;
  z-index: 10;
  background-color: rgb(21, 21, 21);
  position: fixed;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 5px;
}

#button-talk {
  margin-left: auto;
}

#img-href {
  display: block;
  margin-right: auto;
  background-image: url("../src/assets/logo.png");
  background-size: cover;
  width: 120px;
  height: 65px;
}

#img-href2 {
  display: block;
  margin-right: auto;
  background-image: url("../src/assets/logo.png");
  background-size: cover;
  width: 150px;
  height: 60px;
}

.modo a {
  display: block;
  margin-left: 10px;
  margin-top: 10px;
  z-index: 3;
}

.container a {
  color: white;
  border: none;
  margin-left: 50px;
  font-size: 1.1em;
  cursor: pointer;
  text-decoration: none;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  background-color: rgb(0, 0, 0);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #ffffff;
  display: block;
  transition: 0.3s;
  background-color: transparent;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.sidebar a:hover {
  color: #2e2e2e;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

.openbtn {
  opacity: 1;
  cursor: pointer;
  background-color: transparent;
  color: white;
  padding: 10px 15px;
  border: none;
}

/* seção de apresentação */

.menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  width: 80%;
  margin: 0 auto;
}

.apresentation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 50%;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.port {
  display: flex;
  justify-content: center;
}

.apresentation #h2 {
  font-size: 3.6em;
  color: HSL(0, 0%, 98%);
  text-align: center;
}

.apresentation span {
  background: linear-gradient(90deg, hsl(252, 59%, 48%), hsl(12, 76%, 61%));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.apresentation p {
  font-size: 1.5em;
  color: HSL(0, 0%, 60.9%);
  text-align: center;
}

.port img {
  -webkit-mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );
  mask-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 1) 60%,
    rgba(0, 0, 0, 0) 100%
  );

  -webkit-mask-size: cover;
  mask-size: cover;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  width: 50%;
}

.buttons {
  margin: 2%;
}

#button-talk {
  background-color: HSL(252, 59%, 48%);
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
}

#button-talk2 {
  width: 80%;
  background-color: HSL(252, 59%, 48%);
  color: white;
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  margin: 0 auto;
}

#button-talk:hover,
#button-talk2:hover {
  transition: 0.5s;
  background-color: HSL(252, 59%, 40%);
}

#talk {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  margin: 0 auto;
  border: 1px solid rgb(39, 39, 39);
  margin: 10px;
}

#talk:hover {
  transition: 0.5s;
  background-color: hsl(12, 76%, 61%);
}
/* seção sobre mim e skills */

.sobre-info {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.sobre-info h2 {
  font-size: 2.5em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: 4px solid hsl(252, 59%, 48%);
  width: 10%;
  margin: 0 auto;
  padding-bottom: 5px;
  display: inline-block;
}

#sobre-p {
  color: HSL(0, 0%, 60.9%);
}

.sobre-mim {
  display: flex;
  width: 80%;
  margin: 0 auto;
}

#frase {
  font-size: 1.3em;
  width: 90%;
}

.persona h2 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.persona {
  width: 50%;
}

.persona p {
  color: HSL(0, 0%, 60.9%);
}


.skills-swiper {
  padding: 0 20px;
}

.skill-card {
  background-color: #1e1e1e;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
  transition: transform 0.3s ease;
}

.skill-card:hover {
  border: 1px solid #7b4eff;;
}

.skill-icon {
  width: 64px;
  height: 64px;
  margin: 0 auto 10px;
}

.skill-title {
  font-size: 1rem;
  color: #f0f0f0;
}

.skills-section {
  background-color: #0d0d0d;
  color: #fff;
  padding: 2rem;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  text-align: center;
}

#skills-title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  display: inline-block;
  padding-bottom: 5px;
}

.skill {
  margin-bottom: 1.2rem;
}

.skill-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.3rem;
}

.skill-bar {
  height: 8px;
  background-color: #333;
  border-radius: 5px;
  overflow: hidden;
}

.skill-fill {
  height: 100%;
  background-color: hsl(252, 59%, 48%);
  transition: width 0.5s ease-in-out;
}

/* seção projetos */

#proj,
#proj2 {
  text-align: center;
}

#proj {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  border-bottom: 4px solid hsl(252, 59%, 48%);
  width: 15%;
  margin: 0 auto;
  padding-bottom: 5px;
}

#proj2 {
  color: gray;
  padding-top: 1%;
}

.projects-section {
  padding: 20px;
  width: 70%;
  margin: 0 auto;
  margin-top: 5%;
}

.projects-grid {
  margin-top: 5%;
  display: grid;
  grid-template-columns: repeat(2, minmax(250px, 1fr));
  gap: 50px;
}

.project-card {
  border: 1px solid #ddd;
  background-color: #0d0d0d;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.project-image {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}

.project-card:hover .project-image {
  opacity: 0.8;
}

.project-content {
  padding: 15px;
}

.project-content h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.project-content p {
  color: HSL(0, 0%, 60.9%);
}

.project-languages {
  margin: 10px 0;
}

.language-tag {
  display: inline-block;
  background-color: #64219f;
  padding: 5px 10px;
  margin: 5px;
  border-radius: 5px;
}

.project-links {
  margin-top: 10px;
}

.project-links a {
  margin-right: 10px;
  text-decoration: none;
  color: #007bff;
  transition: color 0.3s ease;
}

.project-links a:hover {
  color: #0056b3;
}

/* meus diferenciais */

#diferecials-title {
  text-align: center;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2em;
  border-bottom: 4px solid hsl(252, 59%, 48%);
  width: 15%;
  margin: 0 auto;
  margin-top: 5%;
  padding-bottom: 5px;
}

.diferenciais-container {
  background-color: #0d0d0d;
  color: #fff;
  padding: 3rem 1rem;
  text-align: center;
}

.diferenciais-titulo {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 2%;
}

.card {
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  padding: 1.5rem;
  width: 250px;
  text-align: left;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #7b4eff;
}

.icone {
  background-color: #0a0a0a;
  color: hsl(252, 59%, 48%);
  font-size: 1.5rem;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.card p {
  color: #ccc;
  font-size: 0.95rem;
}

/* Serviços*/

.services-section {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
  padding: 2rem;
  background-color: #0d0d0d;
  color: #fff;
}

.service-card {
  background-color: #131313;
  padding: 1.5rem;
  border-radius: 12px;
  border: 1px solid #2a2a2a;
  transition: all 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
  border-color: #7b4eff;
}

.service-icon {
  font-size: 2rem;
  color: #7b4eff;
  margin-bottom: 0.5rem;
}

.service-card h3 {
  margin: 0.5rem 0;
  font-size: 1.2rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.service-card p {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}

.service-card ul {
  list-style: none;
  padding-left: 0;
}

.service-card ul li {
  margin-bottom: 0.3rem;
  color: #aaa;
}

.profi-service {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 40%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
  background-color: #131313;
  border: 1px solid #2a2a2a;
  border-radius: 12px;
}

#h2-service {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.profi-service p {
  color: HSL(0, 0%, 60.9%);
}

.services-im {
  margin-top: 5%;
  text-align: center;
}

#service-h2 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: 4px solid hsl(252, 59%, 48%);
  width: 12%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.services-im p {
  color: HSL(0, 0%, 60.9%);
}

/* contato */

.contact-main {
  width: 50%;
  margin: 0 auto;
  margin-top: 5%;
  text-align: center;
}

.contact-main p {
  color: HSL(0, 0%, 60.9%);
}

#contact-h2 {
  font-size: 2em;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-bottom: 4px solid hsl(252, 59%, 48%);
  width: 30%;
  margin: 0 auto;
  padding-bottom: 5px;
}

.contact-section {
  color: #fff;
  padding: 3rem 1rem;
  margin-top: 3%;
}

.contact-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  width: 65%;
  margin: 0 auto;
  margin-top: 5%;
}

.contact-info h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.contact-info p {
  margin-bottom: 2rem;
  line-height: 1.6;
  color: HSL(0, 0%, 60.9%);
}

.social-icons {
  margin-top: 1.5rem;
  display: flex;
  gap: 1rem;
}

.social-icons a {
  background: #222;
  padding: 0.5rem;
  border-radius: 50%;
  color: white;
  text-decoration: none;
  transition: 0.3s;
}

.social-icons a:hover {
  background: #7b4eff;
}

.contact-form {
  background-color: #151515;
  padding: 2rem;
  border-radius: 10px;
  border: 1px solid #2a2a2a;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  background-color: #0d0d0d;
  border: 1px solid #333;
  color: white;
  border-radius: 5px;
}

.contact-form button {
  padding: 0.75rem;
  background-color: HSL(252, 59%, 48%);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
}

.contact-form button:hover {
  background-color: HSL(252, 59%, 40%);
}

#linkedin,
#github {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../src/assets/linkedin.png");
  background-size: cover;
  margin: 10px;
}

#linkedin {
  background-image: url("../src/assets/linkedin.png");
}

#github {
  background-image: url("../src/assets/github.png");
}
#linkedin:hover,
#github:hover {
  transform: scale(1.2);
  transition: transform 0.5s ease-in-out;
}

/* rodape */

footer {
  background-color: #131313;
  margin-top: 5%;
}

.rodape-infos {
  display: flex;
  justify-content: space-around;
  width: 80%;
  margin: 0 auto;
}

.rodape-infos h2 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.infos,
.infos2,
.infos3,
.infos4 {
  width: 60%;
  display: flex;
  flex-direction: column;
  color: HSL(0, 0%, 60.9%);
}

hr {
  width: 85%;
  margin: 0 auto;
  margin-top: 10px;
}
.rodape-infos a {
  text-decoration: none;
  padding: 5px;
  color: HSL(0, 0%, 60.9%);
  font-size: 1.1em;
}

.rodape-infos a:hover {
  transition: 0.5s;
  color: HSL(0, 0%, 90.9%);
}

.infos4 {
  align-items: center;
}

.copy-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: 2px solid black;
  background-color: HSL(252, 59%, 48%);
  color: white;
  border-radius: 20px;
  transition: 0.5s;
}

.copy-button:hover {
  background-color: HSL(252, 59%, 40%);
}

.tooltip-box {
  margin: 10px;
  font-size: 14px;
  color: #333;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}

#direitos {
  text-align: center;
  color: HSL(0, 0%, 60.9%);
}

/* responsividade */
@media (max-width: 1366px) {
  .container a {
    margin-left: 30px;
    font-size: 1.0em;
  }
    .apresentation {
      width: 70%;
    }
    
    .apresentation #h2 {
      font-size: 2em;
    }
    

    .apresentation p {
      font-size: 1.2em;
    }
  }

@media (max-width: 1024px) {
  .sobre-info h2 {
    width: 30%;
  }

  #diferecials-title {
    width: 40%;
  }

  #service-h2 {
    width: 30%;
  }

  #proj {
    width: 40%;
  }

  #contact-h2 {
    width: 60%;
  }
  
  .apresentation {
    width: 90%;
  }
  
  .apresentation #h2 {
    font-size: 1.5em;
  }

  .apresentation p {
    font-size: 1em;
  }
}
@media (max-width: 800px) {
  .menu-container {
    width: 90%;
    flex-direction: column;
  }

  .theme-toggle {
    display: block;
  }

  #back {
    width: 85%;
    height: 90vh;
  }

  #button-talk {
    background-color: HSL(252, 59%, 48%);
    padding: 10px;
  }

  #talk {
    padding: 10px;
    margin: 5px;
  }

  .apresentation {
    width: 90%;
    margin: 0 auto;
  }

  .apresentation #h2 {
    font-size: 1.3em;
  }

  .apresentation p {
    font-size: 1em;
  }

  .apresentation p {
    font-size: 1em;
  }

  .port {
    display: none;
  }

  .services-im {
    width: 95%;
  }

  .sobre-info h2 {
    font-size: 1.5em;
    width: 40%;
  }

  .sobre {
  width: 95%;
}

  .sobre-mim {
    flex-direction: column;
    margin: 0 auto;
  }

  .persona {
    width: 90%;
    margin: 0 auto;
  }

  .skills-section {
    width: 90%;
    padding: 1rem;
  }

  .card {
    width: 200px;
    margin-top: 5%;
  }

  #diferecials-title {
    font-size: 1.2em;
    width: 60%;
    margin-top: 5%;
  }


  #proj {
    font-size: 1.3em;
    width: 50%;
  }

  .projects-section {
    width: 85%;
  }

  .projects-grid {
    grid-template-columns: 1fr;
  }

  .services-section {
    grid-template-columns: 1fr;
    padding: 5px;
  }

  #service-h2 {
    font-size: 1.5em;
    width: 50%;
  }

  .profi-service {
    padding: 10px;
    width: 90%;
    margin-top: 20%;
  }

  #sobre-p {
    width: 90%;
    margin: 0 auto;
    margin-top: 2%;
  }

  .contact-container {
    grid-template-columns: 1fr;
    width: 90%;
  }

  .form-row {
    flex-direction: column;
  }

  .info-boxes {
    grid-template-columns: 1fr;
  }

  #linkedin,
  #github {
    width: 20px;
    height: 20px;
  }

  .contact-main {
    width: 90%;
  }
  
  #contact-h2 {
    font-size: 1.1em;
    width: 50%;
  }

  .contact-info {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }

  .contact-info h2 {
    font-size: 1.5em;
  }

  .contact-form {
    padding: 1.5rem;
    border-radius: 10px;
    gap: 1.1rem;
  }

  .contact-form input,
  .contact-form textarea {
    width: 90%;
    padding: 0.5rem;
  }

  .infos,
  .infos2,
  .infos3,
  .infos4 {
    width: 95%;
    margin: 0 auto;
    margin-top: 3%;
  }

  .rodape-infos {
    flex-wrap: wrap;
  }

  .rodape-infos a {
    padding: 5px;
    font-size: 1.1em;
  }

  #frase {
    font-size: 1em;
  }
}
